/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definição de variáveis de cores e fontes */
:root {
    font-size: 62.5%;
    font-family: "Mulish", sans-serif;

    --color-base-white: #ffffff;
    --color-base-gray: #387E96;
    --color-base-gray-2: #F4FCFF;
    --colo-base-fonts-h1: #202024;
    --colo-base-fonts-p: #121214;
    --colo-base-icone:#065E7C;
}

/* Estilo do corpo da página */
body {
    font-size: 1.6rem;
    background-color: var(--color-base-gray);
} 

.container {
    width: min(43rem, 100%);
    margin: 0 auto;
}

/* Estilo do contêiner principal */
.app { 
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
}

/* Estilo do cabeçalho */
header div {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.header {
    padding: 1.2rem 2.8rem;
}

/* Estilo da imagem do cabeçalho */

.avatar {
    width: 4.2rem;
    height: 4.2rem;

    border-radius: 50%;
}

/* Estilo do formulário de pesquisa */

.input-wrapper label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-wrapper input {
    width: 24.1rem;
    padding: 1.2rem 1.6rem;
    
    border: 0;
    border-radius: .4rem;

    font-size: 1.6rem;
    background-color: #4091ac;
    color: var(--color-base-white);
}

.input-wrapper input::placeholder {
    color: var(--color-base-white);
}

/* Estilo do conteúdo principal */
main {
    background-color: var(--color-base-gray-2);
}

.page {
    width: 43rem;
    padding: 0 2.6rem 0 2.2rem;
}

/* Estilo da página */
.gat {
    width: 100%;
    margin: 0 auto;
    border-radius: .4rem;
}

/* Estilo do título */
.page h1 {
    margin-top: 3.1rem;
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--colo-base-fonts-h1);
    text-align: center; /* Adicionado para centralizar o título */
}

/* Estilo dos botões */
.btn {
    display: flex;
    justify-content: center; /* Centraliza os botões */
    gap: 1.2rem;
    margin-top: 1rem; /* Adicionado para espaçamento entre o título e os botões */
}

.btn button {
    background: #065E7C;
    width: 4.0rem;
    height: 4.0rem;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Estilo dos parágrafos */
.page > p {
    margin-top: 1.5rem; /* Alterado o valor para espaçamento do parágrafo abaixo do título */
    font-size: 1.6rem;
    color: var(--colo-base-fonts-p);
    text-align: justify; /* Adicionado alinhamento justificado */
}

/* Estilo das colunas */
.article {
   display: flex;
   flex-direction: column;
   gap: 3.2rem;
   margin-bottom: 3.4rem;
}

.col-5 {
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
}

.img {
    display: flex;
    flex: 1;
    width: 15.1rem;
    height: 8.4rem;
}

section h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--colo-base-fonts-h1);
}

section p {
    font-size: 1.4rem;
    color: var(--colo-base-fonts-p);
}

/* Estilo do rodapé */
footer {
    margin:auto;
    height: 6.4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
}

footer p {
    font-size: 1.6rem;
    color: var(--color-base-white);
}

/* Media query para telas maiores */
@media (min-width: 1120px) {
    .container {
        width: min(144rem, 100%);
    }

    main {
        overflow-y: scroll;
    }

    .header {
        padding: 1.2rem 11.2rem;
        gap: 2.5rem;
    }
    .input-wrapper input {
        width: 108.3rem;
    }
    .gat {
        width: 80.3rem;
        height: 40.5rem;
        margin-top: 4.4rem;
    }
    .content {
        display: flex;
        justify-content: center;
        gap: 3.4rem;
    }
    .page { 
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .desktop-page {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80rem;
    }
    .desktop-page h1 {
        text-align: center;
        margin-bottom: 1rem;
    }
    .desktop-page button {
        margin-top: 1rem;
    }
    .desktop-page h1 {
        font-size: 2.4rem;
    }
    button {
        display: flex;
        justify-content: center;
    }
    #meu-paragrafo {
        width: 800px;
        font-size: 1.6rem;
        margin-bottom: 3.9rem;
    }
    .article h1 {
        text-align: start;
        font-size: 2.4rem;
        margin-top: 4.4rem;
    }
}
